.form {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    &__field {
        display: flex;
        flex-direction: column;
        gap: $space-2;

        &--error {
            .form__input {
                border-color: $color-error;
            }
        }
    }

    &__label {
        font-size: 0.875rem;
        font-weight: 500;
        color: $color-text-mute;
    }

    &__input {
        padding: $space-3 $space-4;
        border: 1px solid $color-border;
        border-radius: $radius-sm;
        background: $color-surface;
        color: $color-text;

        &:focus-visible {
            @include focus-ring;
            border-color: $color-primary;
        }
    }

    &__error {
        color: $color-error;
        font-size: 0.875rem;
    }
}
